# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE/editor
*.swp
.idea/
.vscode/

# Environment variables
.env

# Logs
*.log

# Coverage/test
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache/
pytest_cache/